#nav_menu .nav-item {
  margin-right: 2rem;
  font-size: 1.25rem;
}

.navbar-brand {
  margin: 0 0 0 0.75rem;
}

.container {
  max-width: 100%;
}

.row {
  padding: 0.5rem 1rem;
}

.btn {
  padding: 0.25rem 1rem;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked + label:before {
  background-color: #ffc107 !important;
}

.custom-control-label::before {
  border: none;
}

/* statistic */
.statistic .row {
  padding: 1.5px 0 1.5px 0;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-align: center;
}

.statistic .row:nth-of-type(2) {
  border-top: none;
}

/* status */
.box {
  width: 150px;
  height: 50px;
  color: black;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.status span:nth-child(2) {
  background: green;
}

.status span:nth-child(3) {
  background: tomato;
}

.status span:nth-child(4) {
  background: lightblue;
}

.status span:nth-child(5) {
  background: gray;
}

/* thead hide */
#log_table_head,
#data_table_head,
#chk_table_head {
  display: none;
}

.table-hover tbody tr:hover td {
  background: #ffc107;
  cursor: pointer;
}

/* loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* go top */
#gotop {
  position: fixed;
  border-radius: 50%;
  right: 50px;
  bottom: 50px;
  padding: 5px 20px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  color: #343a40;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
