#nav_menu .nav-item {
  margin-right: 2rem;
  font-size: 1.25rem;
}

.navbar-brand {
  margin: 0 0 0 0.75rem;
}

.container {
  max-width: 100% ;
}

.row {
  padding: .5rem 1rem;
}

.btn {
  padding: 0 0.5rem;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked + label:before {
  background-color: #ffc107 !important;
}

.custom-control-label::before {
  border: none;
}

/* thead hide */
#log_table_head, 
#data_table_head, 
#chk_table_head {
  display: none;
}

.table-hover tbody tr:hover td {
  background: #ffc107;
}