#nav_menu .nav-item {
  margin-right: 2rem;
  font-size: 1.25rem;
}

.navbar-brand {
  margin: 0 0 0 0.75rem;
}

.container {
  max-width: 100%;
}

.row {
  padding: 0.5rem 1rem;
}

.btn {
  padding: 0 0.5rem;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked + label:before {
  background-color: #ffc107 !important;
}

.custom-control-label::before {
  border: none;
}

/* thead hide */
#log_table_head,
#data_table_head,
#chk_table_head {
  display: none;
}

.table-hover tbody tr:hover td {
  background: #ffc107;
  cursor: pointer;
}

/* loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* go top */
#gotop {
  position: fixed;
  border-radius: 50%;
  right: 50px;
  bottom: 50px;
  padding: 5px 20px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  color: #343a40;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
